
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Umbraco Editor Tools</title>
    <link href="~/App_Plugins/EditorTools/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/App_Plugins/EditorTools/Content/Site.css" rel="stylesheet" />
    <link href="~/App_Plugins/EditorTools/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />

    <script src="~/App_Plugins/EditorTools/Scripts/jquery-3.1.1.js"></script>
    <script src="~/App_Plugins/EditorTools/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/App_Plugins/EditorTools/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/App_Plugins/EditorTools/Scripts/moment-with-locales.js"></script>
    <script src="~/App_Plugins/EditorTools/Scripts/bootstrap.js"></script>
    <script src="~/App_Plugins/EditorTools/Scripts/respond.js"></script>
    <script src="~/App_Plugins/EditorTools/Scripts/bootstrap-datetimepicker.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EditorTools", "Index", "EditorToolsHome", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "EditorToolsHome")</li>
                    <!--<li>@Html.ActionLink("About", "About", "EditorToolsHome")</li>-->
                    <li>@Html.ActionLink("Help", "Help", "EditorToolsHome")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - East Sussex County Council - Umbraco Editor Tools</p>
        </footer>
    </div>

</body>
</html>
